.tag-cloud {
  text-align: center;

  a {
    display: inline-block;
    margin: 10px;

    &:hover {
      color: var(--link-hover-color) !important;
    }
  }
}

if (hexo-config('darkmode')) {
  @media (prefers-color-scheme: dark) {
    .tag-cloud {
      text-align: center;

      a {
        display: inline-block;
        margin: 10px;
        color: var(--text--color) !important;

        &:hover {
          color: var(--link-hover-color) !important;
        }
      }
    }
  }
}
